<%= form_tag(students_path, {:class => "form", :method => "get"}) do %>
  <%= select_tag :class_day, options_for_select([["All Classes", ""],["Mon/Wed/Fri","MWF"],["Tues/Thurs","TTH"]], params[:class_day]) %>
  <%= submit_tag "Filter" %>
<% end %>

<table class="studentstable">
  <caption> Code Academy Winter 2012 Students</caption>
  <th>Picture</th>
  <th>Name</th>
  <th>Class Day</th>
  <th>Class Type</th>
  <th>Gender</th>
<% @students.each do |student| %>
  <tr>
    <td class="image"><%= image_tag(student.image_url,
          :title => student.full_name) %>
    <td><%= link_to student.full_name, student %></td>
    <td><%= student.class_day %></td>
    <td><%= student.class_type %></td>
    <td><%= student.gender %></td>
  </tr>
<% end %>
</table>
